
.my-bg-color1 {
    background-color: #28071e!important;
}
.my-bg-color2 {
    background-color: #180713!important;
}
.my-txt-color1 {
    color: #782adffe!important;
}
.my-txt-color2 {
    color: #cd250b90!important;
}
.my-txt-color3 {
    color: #fff700!important;
}
